/* Voting Screen */

.voting {
    height: 100%;
    overflow: auto;
    display: flex;
    user-select: none;
    -o-user-select:none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.voting button {
    flex: 1 0 0;

    background-color: #673AB7;
    border-width: 0;

    cursor: pointer;
}

.voting > .votingItem {
    flex: 1 0 0;
    background-color: #673AB7;
    border-width: 0;
    cursor: pointer;
    min-width: 500px;
    min-height: 300px;
    position: relative;
    text-align: center;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.voting > .votingItem:first-child {
    border-right: 3px solid darkslateblue;
}

.voting > .votingItem:active {
    background-color: darkslateblue;
    color: #311B92;
}

.voting > .votingItem > .votingGallery {
    height: auto;
    width: 50%;
    position: relative;
}

.voting > .votingItem > .votingGallery > img {
    display: block;
    position: relative;
    height: auto;
    width: 100%;
    z-index: 1;
}

@media only screen and (min-device-width: 500px) {
    .voting {
        flex-direction: row;
    }
    .voting button:first-child {
        border-bottom-width: 0;
        border-right: 1px solid white;
    }

    .voting > div:first-child {
        border-bottom-width: 0;
        border-right: 1px solid white;
    }
}

/* Results Screen */

.results {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
}
.results .tally {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.results .tally .entry {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.results .tally h1 {
    width: 25%;
}
.results .tally .voteVisualization {
    height: 50px;
    width: 50%;
    display: flex;
    justify-content: flex-start;

    background-color: #7E57C2;
}
.results .tally .votesBlock {
    background-color: white;
    transition: width 0.5s;
}
.results .tally .voteCount {
    font-size: 2rem;
}

.results .management {
    display: flex;

    height: 2em;
    border-top: 1px solid #aaa;
}

.results .management button {
    border: 0;
    background-color: black;
    color: #aaa;
}
.results .management .next {
    flex: 1;
}

/* Winner View */

.winner {
    font-size: 4rem;
    text-align: center;
}

/* Connection State */

.connectionState {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    padding: 5px;

    text-align: center;

    background-color: #B71C1C;
}

.photo-frame {
    border: 5px solid #888888;
}

.photo-frame:before {
    content: '';
    position: absolute;
    bottom: -40px;
    height: 0px;
    right: 0;
    width: 0px;
    border-color: #888888 transparent transparent;
    border-style: solid solid solid;
    border-width: 20px 20px 20px 20px;
}

.photo-frame:after {
    border-color: #673AB7 transparent transparent;;
    border-style: solid solid solid solid;
    border-width: 20px;
    bottom: -33px;
    content: '';
    height: 0px;
    right: 0;
    position: absolute;
    width: 0px;
}